# 设置私有 registry，根据实际情况修改
@wzh:registry=https://registry.npmjs.org/

# 始终使用精确版本
save-exact=true

# pnpm 配置
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted

# 发布配置
access=public